<!DOCTYPE html>
<html>
<title>Ver exclusoes</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script
  src= "https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
  ></script>


<div class="home w3-top">
  <div class="w3-bar w3-wide w3-padding w3-card">
    <a class ="p3" href="/" ><b>Publicações</b></a>
  </div>
</div>


<body>

            {% block content %}
            {% endblock %}

</body>